body {
  background-color: steelblue;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
form {
  width: 80%;
  height: 600px;
  margin: 0 10% 0 10%;
  background-color: white;
}
form label {
  padding-left: 40%;
}
form input {
  padding: 20px 50px 0 0;
}
input[type=radio] {
  margin-left: 40%;
}
input[type=checkbox] {
  margin-left: 40%;
}
textarea {
  margin-left: 40%;
  width: 250px;
  height: 100px;
}
button {
  padding: 10px;
  background-color: blue;
  color: white;
}
